<section class="ms-dest">
  <div class="ms-dest__header flex-space-btw">
    <h2 class="ms-dest__title relative">PLACES</h2>
    <div class="ms-dest__wrapper flex-center">
      <div class="ms-dest__search relative">
        <input
          placeholder="Search..."
          type="text"
          class="ms-dest__search__input"
        />
        <img
          src="../../../assets/img/header-search-icon.svg"
          alt=""
          class="ms-dest__search__icon absolute"
        />
      </div>
      <div class="ms-dest__view flex-center"></div>
    </div>
  </div>
</section>
