<footer class="ms-footer">
  <div class="ms-footer__ocean relative">
    <div class="ms-footer__wave absolute"></div>
    <div class="ms-footer__wave absolute"></div>
  </div>
  <div class="ms-footer__wrapper">
    <div class="container ms-footer__container flex-space-btw">
      <img
        src="../../../assets/img/logo-light.png"
        alt=""
        class="ms-footer__logo"
      />
      <ul class="ms-footer__navigation flex-center">
        <li class="ms-footer__navigation__item">ABOUT</li>
        <li class="ms-footer__navigation__item">CONTACT</li>
        <li class="ms-footer__navigation__item">TERMS</li>
        <li class="ms-footer__navigation__item">BLOG</li>
      </ul>
      <div class="ms-footer__socials flex-center">
        <img src="../../../assets/img/icons/facebook.png" alt="" />
        <img src="../../../assets/img/icons/instagram.png" alt="" />
        <img src="../../../assets/img/icons/twitter.png" alt="" />
        <img src="../../../assets/img/icons/youtube.png" alt="" />
      </div>
    </div>
  </div>
</footer>
