.select {
  display: inline-block;

  &__selected {
    line-height: 3.5rem;
    font-size: 2.4rem;
    font-weight: normal;
  }

  &__icon {
    width: 9px;
    height: 5px;
    background-image: url(../../../assets/img/icons/arrow-down.svg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 10px;
  }

  &__wrapper {
    overflow: hidden;
    padding: 0 10px;
    top: 3.8rem;
    left: -10px;
    max-height: 0;
  }

  &__extanded {
    max-height: 1000vh;
  }

  &__option {
    line-height: 3.5rem;
    font-size: 2.4rem;
    font-weight: normal;
  }
}
