<section class="ms-hosts relative">
  <div class="ms-hosts__shape absolute"></div>
  <div class="container">
    <div class="ms-hosts__wrapper flex-space-btw">
      <h2 class="ms-hosts__title relative">OUR MASPINDZELIS</h2>
      <div class="ms-hosts__description flex-center">
        <div class="ms-hosts__description__icon"></div>
        <div class="ms-hosts__description__text">
          If several languages coalesce, the grammar of the resulting language
          is more simple and regular <br />
          than that of the individual languages.
        </div>
      </div>
    </div>
    <div class="ms-hosts__slider relative">
      <div class="ms-hosts__slider__holder absolute">
        <div
          id="slideWrapper"
          class="ms-hosts__slider__wrapper absolute flex-space-btw"
        >
          <div class="ms-hosts__slider__item" *ngFor="let slide of slider">
            {{ slide.fullName }}
          </div>
        </div>
      </div>
      <div
        class="ms-hosts__slider__arrows flex-space-btw absolute"
        *ngIf="slider.length > 3"
      >
        <div
          class="ms-hosts__slider__arrows__item flex-center-x2"
          [ngClass]="{
            'ms-hosts__slider__arrows__active': direction == 'left'
          }"
          (click)="slideLeft()"
        >
          <svg
            aria-hidden="true"
            focusable="false"
            data-prefix="fas"
            data-icon="arrow-left"
            class="svg-inline--fa fa-arrow-left fa-w-14"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512"
          >
            <path
              d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z"
            ></path>
          </svg>
        </div>
        <div
          class="ms-hosts__slider__arrows__item flex-center-x2"
          [ngClass]="{
            'ms-hosts__slider__arrows__active': direction == 'right'
          }"
          (click)="slideRight()"
        >
          <svg
            aria-hidden="true"
            focusable="false"
            data-prefix="fas"
            data-icon="arrow-right"
            class="svg-inline--fa fa-arrow-right fa-w-14"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512"
          >
            <path
              d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z"
            ></path>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
