<section class="ms-hosts relative">
  <div class="ms-hosts__shape absolute"></div>
  <div class="container">
    <div class="ms-hosts__wrapper flex-space-btw">
      <h2 class="ms-hosts__title relative">OUR MASPINDZELIS</h2>
      <div class="ms-hosts__description flex-center">
        <div class="ms-hosts__description__icon"></div>
        <div class="ms-hosts__description__text">
          If several languages coalesce, the grammar of the resulting language
          is more simple and regular <br />
          than that of the individual languages.
        </div>
      </div>
    </div>
    <div class="swiper-container ms-hosts__slider">
      <div class="swiper-wrapper">
        <div
          class="swiper-slide ms-hosts__slider__item flex-space-btw"
          *ngFor="let slide of slider"
        >
          <img src="{{ slide.image }}" alt="" />
          <h6>{{ slide.fullName }}</h6>
          <div class="stars flex-center">
            <img
              src="../../../assets/img/icons/star-full.png"
              alt=""
              *ngFor="let i of counter(slide.rate)"
            />
            <img
              src="../../../assets/img/icons/star-empty.png"
              alt=""
              *ngFor="let i of counter(5 - slide.rate)"
            />
          </div>
          <p>{{ slide.description }}</p>
        </div>
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
