/* You can add global styles to this file, and also import other style files */
@import "./assets/styles/reset";
@import "./assets/styles/flex";
@import "./assets/styles/position";
@import "./assets/styles/fonts";
@import "./assets/styles/date-picker";

html {
  font-size: 10px;
  font-family: "Hermes";

  @media screen and (max-width: 1150px) {
    font-size: 9px;
  }

  @media screen and (max-width: 880px) {
    font-size: 7px;
  }

  @media screen and (max-width: 640px) {
    font-size: 5px;
  }
}

.container {
  width: 1600px;
  margin: 0 auto;

  @media screen and (max-width: 1660px) {
    width: 100%;
    padding: 0 30px;
  }
}
