.flex {
  display: flex;

  &-center {
    display: flex;
    align-items: center;

    &-x2 {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &-space {
    &-btw {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-around {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }
}
